<div class="span4" ng-controller="OrderListController">
  <button class="btn btn-primary new-order" ng-click="newOrder()">Neue Bestellung</button>
  <ul class="nav nav-tabs">
    <li ng-repeat="filter in filters" ng-class="{active: currentFilter === filter}">
      <a href="" ng-click="selectFilter(filter)">{{filter.name}}</a>
    </li>
  </ul>
  <div class="input-prepend">
    <span class="add-on"><i class="icon-search"></i></span>
    <input type="search" ng-model="search.name" placeholder="Suche">
  </div>
  <ul class="orders nav nav-tabs nav-stacked">
    <li ng-repeat="order in orders | filter:currentFilter.f | filter:search | orderBy:'updated_at':true" ng-class="{active: selectedOrder === order}">
      <a href="" ng-click="selectOrder(order)">
        {{order.name}}
        <span class="badge badge-warning" ng-class="{'badge-success': order.paid}">
          {{order.seats.length}}
        </span>
        <span class="badge badge-info" title="Erstellt am {{order.created_at | date}}" ng-bind="order.created_at | date">
        </span>
        <span class="badge badge-error" ng-show="order.id == undefined">Nicht gespeichert</span>
      </a>
    </li>
  </ul>
</div>
