<h1>Accounts</h1>

<table class="table">
  <thead>
    <tr>
      <th>Login Name</th>
      <th>Rechte</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="account in accounts">
      <td>{{account.login}}</td>
      <td>{{account.role}}</td>
      <td>
        <button class="btn btn-mini btn-danger" ng-click="remove(account)">
          Löschen
        </button>
      </td>
    </tr>
  </tbody>
</table>

<a href="#/accounts/new" class="btn btn-primary">Neuen Account erstellen</button>
