<h1>{{gig.title}}</h1>

<div class="span12">
  <svg class="seat-plan" width="1000" height="500" ng-controller="SeatsCtrl">
    <g transform="translate(1, 1)">
      <g ng-repeat="(row, seats) in rows" transform="translate(0, {{row * 25}})">
        <g ng-repeat="seat in seats" transform="translate({{seat.x * 18}}, 0)">
          <rect width="18" height="18" style="fill:rgba(0,0,0,0);stroke-width: 1; stroke: rgb(0, 0, 0)"></rect>
          <text x="9" y="13" style="font-size: 11px" text-anchor="middle">{{seat.number}}</text>
        </g>
      </g>
    </g>
  </svg>
  <div class="well" ng-controller="OrderDetailsCtrl" ng-show="order">
    <ul>
      <li ng-repeat="seat in order.seats">
        {{seat.row}}
      </li>
    </ul>
    <table class="table bill" ng-controller="OrderBillCtrl" ng-show="order">
      <thead>
      </thead>
      <tbody>
        <tr>
          <td>{{(order.seats.length - order.reduced)}} reguläre Karten</td>
          <td class="price">{{normalPrice()}},00€</td>
        </tr>
        <tr>
          <td>{{order.reduced}} ermäßigte Karten</td>
          <td class="price">{{reducedPrice()}},00€</td>
        </tr>
      </tbody>
      <tfooter>
        <tr>
          <th></th>
          <th class="price">{{sum()}},00€</th>
        </tr>
      </tfooter>
    </table>
    <form>
      <fieldset>
        <label for="name">Name</label>
        <input id="name" name="name" type="text" ng-model="order.name">
        <label for="reduced">davon ermäßigte Karten</label>
        <input id="reduced" name="reduced" type="number" ng-model="order.reduced">
      </fieldset>
      <button type="submit" class="btn btn-primary" ng-click="save()">Speichern</button>
    </form>
  </div>
</div>

<div class="span4" ng-controller="OrderListCtrl">
  <div>
    <ul class="nav nav-tabs">
      <li ng-repeat="filter in filters" ng-class="{active: currentFilter === filter}">
        <a href="" ng-click="selectFilter(filter)">{{filter.name}}</a>
      </li>
    </ul>
    <ul class="orders nav nav-tabs nav-stacked">
      <li ng-repeat="order in orders" ng-class="{active: orderSelected(order)}">
        <a href="" ng-click="selectOrder(order)">
          {{order.name}}
          <span class="badge" ng-class="{'badge-success': order.paid}">
            {{order.seats.length}}
          </span>
        </a>
      </li>
    </ul>

    <button class="btn btn-primary">Neu</button>
  </div>
</div>
