<h1>{{gig.title}}</h1>

<div class="span8">
  <ol class="rows">
    <li ng-repeat="row in rows()">
      <p class="seat-number">
        {{row}}
      </p>
      <ol class="seats">
        <li ng-repeat="seat in seats | filter: {row: row}">
          <div class="seat" ng-class="{selected: seatSelected(seat), reserved: seat.reserved, paid: seat.paid}" ng-click="chooseSeat(seat)">
            {{seat.seat}}
          </div>
        </li>
      </ol>
    </li>
  </ol>
  <div class="well">
    <ul>
      <li ng-repeat="seat in selectedOrder.seats">
        {{seat.row}}
      </li>
    </ul>
    <table class="table bill">
      <thead>
      </thead>
      <tbody>
        <tr>
          <td>{{selectedOrder.seats.length - selectedOrder.reduced}} Karten</td>
          <td class="price">23,00€</td>
        </tr>
        <tr>
          <td>{{selectedOrder.reduced}} ermäßigte Karten</td>
          <td class="price">12,00€</td>
        </tr>
      </tbody>
      <tfooter>
        <tr>
          <th></th>
          <th class="price">40,00€</th>
        </tr>
      </tfooter>
    </table>
    <form>
      <fieldset>
        <label for="name">Name</label>
        <input id="name" name="name" type="text" ng-model="selectedOrder.name">
        <label for="reduced">davon ermäßigte Karten</label>
        <input id="reduced" name="reduced" type="number" ng-model="selectedOrder.reduced">
        <button type="submit" class="btn btn-primary" ng-click="save()">Speichern</button>
      </fieldset>
    </form>
  </div>
</div>

<div class="span4">
  <div>
    <ul class="nav nav-tabs">
      <li ng-repeat="filter in filters" ng-class="{active: filter === currentFilter}">
        <a href="#" ng-click="selectFilter(filter)">{{filter}}</a>
      </li>
    </ul>
    <ul class="orders nav nav-tabs nav-stacked">
      <li ng-repeat="order in orders" ng-click="selectOrder(order)" ng-class="{active: order === selectedOrder}">
        <a href="#">
          {{order.name}}
          <span class="badge" ng-class="{'badge-success': order.paid}">
            {{order.seats.length}}
          </span>
        </a>
      </li>
    </ul>

    <button class="btn btn-primary">Neu</button>
  </div>
</div>
