<h1>{{gig.title}}</h1>

<div class="span8">
  <ol class="rows">
    <li ng-repeat="row in rows()">
      <p class="seat-number">
        {{row}}
      </p>
      <ol class="seats">
        <li ng-repeat="seat in seats | filter: {row: row}">
          <div class="seat" ng-class="{selected: seatSelected(seat), reserved: seat.reserved, paid: seat.paid}" ng-click="chooseSeat(seat)">
            {{seat.seat}}
          </div>
        </li>
      </ol>
    </li>
  </ol>
  <div class="well" ng-controller="OrderDetailsCtrl" ng-show="order">
    <ul>
      <li ng-repeat="seat in order.seats">
        {{seat.row}}
      </li>
    </ul>
    <table class="table bill" ng-controller="OrderBillCtrl" ng-show="order">
      <thead>
      </thead>
      <tbody>
        <tr>
          <td>{{(order.seats.length - order.reduced)}} reguläre Karten</td>
          <td class="price">{{normalPrice()}},00€</td>
        </tr>
        <tr>
          <td>{{order.reduced}} ermäßigte Karten</td>
          <td class="price">{{reducedPrice()}},00€</td>
        </tr>
      </tbody>
      <tfooter>
        <tr>
          <th></th>
          <th class="price">{{sum()}},00€</th>
        </tr>
      </tfooter>
    </table>
    <form>
      <fieldset>
        <label for="name">Name</label>
        <input id="name" name="name" type="text" ng-model="order.name">
        <label for="reduced">davon ermäßigte Karten</label>
        <input id="reduced" name="reduced" type="number" ng-model="order.reduced">
      </fieldset>
      <button type="submit" class="btn btn-primary" ng-click="save()">Speichern</button>
    </form>
  </div>
</div>

<div class="span4" ng-controller="OrderListCtrl">
  <div>
    <ul class="nav nav-tabs">
      <li ng-repeat="filter in filters" ng-class="{active: currentFilter === filter}">
        <a href="" ng-click="selectFilter(filter)">{{filter.name}}</a>
      </li>
    </ul>
    <ul class="orders nav nav-tabs nav-stacked">
      <li ng-repeat="order in orders" ng-class="{active: orderSelected(order)}">
        <a href="" ng-click="selectOrder(order)">
          {{order.name}}
          <span class="badge" ng-class="{'badge-success': order.paid}">
            {{order.seats.length}}
          </span>
        </a>
      </li>
    </ul>

    <button class="btn btn-primary">Neu</button>
  </div>
</div>
