.container {
  margin-bottom: 2em;
  min-width: 1170px;
}

button.new-order {
  margin-bottom: 1em;
}

.gigs.pager {
  li {
    margin-left: 2.2em;
    margin-right: 2.2em;
  }
  li:first-child {
    margin-left: 0;
  }
  li:last-child {
    margin-right: 0;
  }
}
