.rows {
  list-style-type: none;
  p {
    display: inline-block;
  }
  .seats {
    display: inline-block;
  }
}

.seats {
  list-style-type: none;
  li {
    width: 20px;
    height: 20px;
    text-align: center;
    display: inline-block;
    border: 1px solid black;
    margin-bottom: 5px;
    margin-right: 1px;
  }
  li:hover {
    cursor: pointer;
  }
}