<!DOCTYPE html>
<html ng-app="hairsprayTickets">
<head>
  <title>HairsprayTickets</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <div class="row">
    <div ng-view>
    </div>
  </div>
</div>

</body>
</html>
