<!DOCTYPE html>
<html ng-app="hairsprayTickets">
<head>
  <title>HairsprayTickets</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar" ng-submit="login()" ng-controller="SessionController">
  <div class="navbar-inner">
    <a href="#" class="brand">Hairspray 2013</a>
    <form class="navbar-form pull-right" ng-show="!session.loggedIn">
      <input type="text" ng-model="user.name" class="span2" name="name" placeholder="Name">
      <input type="password" ng-model="user.password" class="span2" name="password" placeholder="Passwort">
      <input type="submit" class="btn" value="Login">
    </form>
    <p class="navbar-text pull-right" ng-show="session.loggedIn">
      Logged in as {{user.name}}
      <a href="" ng-click="logout()">Logout</a>
    </p>
  </div>
</div>

<div class="container">
  <div ng-view>
  </div>
</div>

</body>
</html>
